<div class="container">
  <h1 class="mdb-color white-text" style="color: blueviolet">Admin</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div span class="navbar-brand mb-0 h1" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home" routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="observ">Observable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user">Pipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="post">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
