@if(show){
<h1>HI NOOR</h1>
}
<ul>
  @for(item of items; track item){
  <li>{{ item }}</li>
  }
</ul>

<form>
  <label>Name</label>
  <input type="text" [(ngModel)]="name" name="name" />
  <div>
    <label>CheckBooks</label>
    <input type="checkbox" [checked]="isChecked" id="checkbox" />
  </div>
  <input type="button" (click)="printName()" value="Print" />
</form>

<br>
<br>
<app-test>
  <h3>Hello content projection Single Slot</h3>
</app-test>
<br>
<br>
<app-multislot>
  <div></div>
</app-multislot>

<app-header></app-header>


<router-outlet></router-outlet>


 

